ROLE=worker
VLLM_IMAGE=ghcr.io/spark-arena/dgx-vllm-eugr-nightly-tf5:latest
HOST_IP=192.168.100.2
HEAD_IP=192.168.100.1
IF_NAME=enp1s0f1np1
IB_HCA=rocep1s0f1,roceP2p1s0f1
NUM_NODES=2
HF_TOKEN=<sätt-din-egen>
